.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 16px 30px;
  padding-inline-end: 30px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.28px;
  white-space: normal;
  text-decoration: none;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border-radius: 48px;
  transition: background-color 0.4s ease, border-color 0.4s ease,
    color 0.4s ease;
  position: relative;

  &:hover,
  &:active,
  &:focus {
    &:not(#search-btn):not(.btn-filter):not(.dropdown-toggle):not(
      .dropdown-toggle-btn):not(.btn-filter) {
      &::after {
        transform: translateX(5px);
      }
    }
  }
  &:not(.btn-scroll):not(#search-btn):not(.dropdown-toggle):not(
      .dropdown-toggle-btn):not(.btn-filter) {
    &::after {
      content: "";
      inline-size: 10px;
      block-size: 8px;
      flex: 0 0 10px;
      transform: translateX(0);
      transition: transform 0.4s ease;

      background: currentColor;
      -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 10"><path d="M1 5H11M11 5L6.714 1M11 5L6.714 9" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>')
        no-repeat center / contain;
      mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 10"><path d="M1 5H11M11 5L6.714 1M11 5L6.714 9" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>')
        no-repeat center / contain;
    }
  }

  &:not(#search-btn):not(.btn-filter):not(.dropdown-toggle-btn) {
    > svg {
      position: relative;
      display: inline-block;
      // height: 1em;
      margin-left: auto;
      transform: translateX(0);
      transition: transform 0.4s ease;
    }
  }

  *:not(.nav-link) {
    pointer-events: none;
  }
}

.btn {
  &.btn-primary {
    background-color: $brand-off-white;
    border-color: $brand-off-white;
    color: $brand-dark-gray;

    &:hover,
    &:focus,
    &:active {
      background-color: $brand-dark-gray;
      border-color: $brand-dark-gray;
      color: $brand-off-white;
    }
  }

  &.btn-primary-outline {
    background-color: transparent;
    border-color: $brand-dark-gray;
    color: $brand-dark-gray;

    &:hover,
    &:focus,
    &:active {
      background-color: $brand-dark-gray;
      border-color: $brand-dark-gray;
      color: $brand-off-white;
    }
  }

  &.btn-secondary {
    background-color: $brand-secondary;
    border-color: $brand-secondary;
    color: $brand-dark-gray;

    &:hover,
    &:focus,
    &:active {
      background-color: darken($brand-secondary, 20%);
      border-color: darken($brand-secondary, 20%);
      color: $brand-dark-gray;
    }
  }

  &.btn-secondary-outline {
    background-color: transparent;
    border-color: $brand-secondary;
    color: $brand-dark-gray;

    &:hover,
    &:focus,
    &:active {
      background-color: $brand-secondary;
      border-color: $brand-secondary;
      color: $brand-dark-gray;
    }
  }

  &.btn-red {
    background-color: #E8475A;
    border-color: #E8475A;
    color: $brand-black;

    &:hover,
    &:focus,
    &:active {
      background-color: $brand-black;
      border-color: $brand-black;
      color: $brand-white;
    }
  }

  &.btn-red-outline {
    background-color: transparent;
    border-color: $brand-red;
    color: $brand-black;

    &:hover,
    &:focus,
    &:active {
      background-color: $brand-red;
      border-color: $brand-red;
      color: $brand-black;
    }
  }

  &.btn-light-blue {
    background-color: $brand-lighter-blue;
    border-color: $brand-lighter-blue;
    color: $brand-dark-gray;

    &:hover,
    &:focus,
    &:active {
      background-color: darken($brand-lighter-blue, 10%);
      border-color: darken($brand-lighter-blue, 10%);
      color: $brand-dark-gray;
    }
  }

  &.btn-light-blue-outline {
    background-color: transparent;
    border-color: $brand-lighter-blue;
    color: $brand-dark-gray;

    &:hover,
    &:focus,
    &:active {
      background-color: $brand-lighter-blue;
      border-color: $brand-lighter-blue;
      color: $brand-dark-gray;
    }
  }

  &.btn-black {
    background-color: $brand-dark-gray;
    border-color: $brand-dark-gray;
    color: $brand-off-white;

    &:hover,
    &:focus,
    &:active {
      background-color: $brand-off-white;
      border-color: $brand-off-white;
      color: $brand-dark-gray;
    }
  }

  &.btn-link {
    background-color: transparent;
    border-color: transparent;
    color: currentColor;
    text-decoration: underline;
    padding: 0;
    text-wrap: nowrap;

    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
    }
  }

	&.btn-link-secondary {
		background-color: transparent;
		border-color:  transparent;
		color: $brand-navy-light;
		text-decoration: underline;
		padding: 0;
    text-wrap: nowrap;

		&:hover,
		&:focus,
		&:active {
			text-decoration: none;
		}
	}

  &.btn-scroll {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-color: $brand-white;
  }
}

.wp-block-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.wp-block-button {
  display: inline-block;

  .wp-element-button {
    @extend .btn;
  }

  &:not([class*="is-style-"]),
  &.is-style-btn-primary {
    .wp-element-button {
      @extend .btn-primary;
    }
  }

  &.is-style-btn-secondary {
    .wp-element-button {
      @extend .btn-secondary;
    }
  }

  	&.is-style-btn-primary-outline {
		.wp-element-button {
			@extend .btn-primary-outline;
		}
	}

	&.is-style-btn-secondary-outline {
		.wp-element-button {
			@extend .btn-secondary-outline;
		}
	}

  &.is-style-btn-red {
		.wp-element-button {
			@extend .btn-red;
		}
	}

  &.is-style-btn-red-outline {
		.wp-element-button {
			@extend .btn-red-outline;
		}
	}

  &.is-style-btn-light-blue {
		.wp-element-button {
			@extend .btn-light-blue;
		}
	}

  &.is-style-btn-light-blue-outline {
		.wp-element-button {
			@extend .btn-light-blue-outline;
		}
	}

  &.is-style-btn-black {
    .wp-element-button {
      @extend .btn-black;
    }
  }

  &.is-style-btn-secondary {
    .wp-element-button {
      @extend .btn-secondary;
    }
  }

  &.is-style-btn-link {
    .wp-element-button {
      @extend .btn-link;
    }
  }

  &.is-style-btn-link-secondary {
		.wp-element-button {
			@extend .btn-link-secondary;
		}
	}

}

.scroll-to-top {
  .btn {
    border-radius: 12px;
    &::after {
      display: none;
    }
  }
}
